#background
  ul
    li
      img( src='images/turell-1.jpg' )
      img( src='images/turell-2.jpg' )
    li
      img( src='images/ici-1.jpg' )
      img( src='images/ici-2.jpg' )
      img( src='images/ici-3.jpg' )
  ul
    li
      img( src='images/1.jpg' )
      img( src='images/2.jpg' )
    li
      img( src='images/3.jpg' )
      img( src='images/4.jpg' )