#foreground.foreground-init
  #foreground-gradient
  ul.foreground-content
    for i in new Array(3)
      li
        header
          h1
            em March &mdash;
            br
            | James Turrel
        footer
          | In April we brought the highly anticipated James Turrel...
          p dipisicing flexitarian Thundercats lo-fi XOXO, Banksy Etsy tempor vinyl gentrify. Banjo small batch kale chips, quinoa chia readymade squid tousled placeat roof party selfies. Shabby chic Vice ex, chia street art leggings tempor excepteur nisi brunch quino
          small Explore Madonna & Child
      li
        header
          h1
            em November &mdash;
            br
            | Live Bidding
        footer
          | In November we partnered with ICI to support their yearly...
          p dipisicing flexitarian Thundercats lo-fi XOXO, Banksy Etsy tempor vinyl gentrify. Banjo small batch kale chips, quinoa chia readymade squid tousled placeat roof party selfies. Shabby chic Vice ex, chia street art leggings tempor excepteur nisi brunch quino
          small Explore Madonna & Child
  #foreground-social-buttons
    button#foreground-facebook-button
    button#foreground-twitter-button

#background
  ul
    for i in new Array(3)
      li
        img( src='images/turell-1.jpg' )
        img( src='images/turell-2.jpg' )
      li
        img( src='images/ici-1.jpg' )
        img( src='images/ici-2.jpg' )
        img( src='images/ici-3.jpg' )