extends content-layout

//- Janurary: Sales Distance
append foreground
  +fg-item('January', 'A World View')
    p In 2013, people from over 180 countries visited Artsy.
    p In January, artworks were sold between New York and Oslo, London and Los Angeles, Singapore and Houston through Artsy. This year, the average distance between a buyer and a seller was 2,086 miles.

append background
  +bg-item
    img( src='images/content/map-small.jpg' )
    .half-viewport-height

//- Feburary: Eye Contact
append foreground
  +fg-item('February', 'Mind’s Eye')
    p This year, we added our 1,000th “gene” to The Art Genome Project, the classification system that powers Artsy.
    p Over the course of 2013, our Art Genome team continued to map the characteristics that define art, applying over 700,000 of them to over 44,000 artworks.
    p In February, we added one of our favorite new genes: “Eye Contact.”
    a.faux-underline( href="http://artsy.net/gene/eye-contact", target='_blank' ) Explore Eye Contact
append background
  +bg-item
    ul.two-column-images.two-column-left
      li
        img( src='images/content/eye-contact-thomas-small.jpg' )
        p Mickalene Thomas
        em Qusuquzah, Une Trés Belle Négresse 1,&nbsp;
          span 2012
        p Lehmann Maupin
        p $18,500
      li
        img( src='images/content/eye-contact-longo-small.jpg' )
        p Robert Longo
        em Untitled (Leo)
        p Christie's Post-War & Contemporary Art
        p $250,000 - 350,000
      li
        img( src='images/content/eye-contact-abramovic-small.jpg' )
        p Marina Abramović
        em Golden Lips,&nbsp;
          span 2009
        p Sean Kelly Gallery
    ul.two-column-images.two-column-right
      li
        img( src='images/content/eye-contact-vermeer-small.jpg' )
        p Johannes Vermeer
        em Girl with the Red Hat,&nbsp;
          span ca. 1665/1666
        p National Gallery of Art, Washington D.C.
      li
        img( src='images/content/eye-contact-close-small.jpg' )
        p Chuck Close
        em Untitled (Kate - 16),&nbsp;
          span 2011
        p Adamson Gallery
        p $38,000
      li
        img( src='images/content/eye-contact-roversi-small.jpg' )
        p Paolo Roversi
        em Tanel Bedrossiantz (Jean Paul Gaultier’s “Barbès” women’s ready-to-wear fall-winter collection of 1984–85),&nbsp;
          span 1992
        p Brooklyn Museum
      .half-viewport-height

//- March: The Armory Show
append foreground
  +fg-item('March', 'The Armory Show')
    p Over 200,000 visitors from around the world viewed artworks from The Armory Show more than 10 million times on Artsy.
    p In 2013, we featured 17 international art fairs, including Art Basel in Basel, Hong Kong and Miami, Frieze London, ArtRio and Contemporary Istanbul.
    a.faux-underline( href="http://artsy.net/thearmoryshow", target='_blank' ) Revisit the Armory Show
append background
  +bg-item
    figure
      img( src='images/content/fairs-armory-small.jpg' )
      figcaption
        .main The Armory Show at Pier 92 and Pier 94 in New York

    figure
      img( src='images/content/fairs-dm-small.jpg' )
      figcaption
        .main Design Miami — Formlessfinder's “Tent Pile”
        .source Photo: James Harris courtesy Design Miami

    figure
      img( src='images/content/fairs-frieze-small.jpg' )
      figcaption
        .main Frieze — Geometric Mirrors VI by Jeppe Hein in the Frieze Sculpture park
        .source &copy; Iwan Baan

//- April: Turrell
append foreground
  +fg-item('April', 'James Turrell at <br>The Guggenheim')
    p In April, we brought the highly-anticipated James Turrell show online through our partnership with the Guggenheim Museum.
    p Artsy now partners with over 200 institutions, including The British Museum, J. Paul Getty Museum, Calder Foundation and the Fondation Beyeler.
    a.faux-underline( href="https://artsy.net/guggenheim", target='_blank' ) The Guggenheim Museum on Artsy
append background
  +bg-item
    figure
      img( src='images/content/turrell-purple-small.jpg' )
      figcaption &nbsp;
        .source &copy; James Turrell / Rendering: Andreas Tjeldflaat, 2012 Solomon R. Guggenheim Foundation
    figure
      img( src='images/content/turrell-blue-small.jpg' )

//- May: Ragnar Relay
append foreground
  +fg-item('May', 'Ragnar Relay')
    p In May, we completed the Ragnar Relay, an overnight team relay race. 26 hours and 52 minutes of continuous running. 192 miles covered. 12 people still friends after spending 36 hours in a van together. Less impressive, we were beaten by teams “Fanny Pack Gold” and “U.S. Department of Minimal Effort.”
    a.faux-underline( href="https://artsy.net/about/jobs", target='_blank' ) Run the Ragnar Relay with us in 2014
append background
  +bg-item
    ul.may-images.two-column-images.two-column-left
      li
        img( src='images/content/ragnar-pose-small.jpg' )
      li
        img( src='images/content/ragnar-camp-small.jpg' )
      li
        img( src='images/content/ragnar-carter-small.jpg' )
    ul.may-images.two-column-images.two-column-right
      li
        img( src='images/content/ragnar-party-small.jpg' )
      li
        img( src='images/content/ragnar-woot-small.jpg' )
      li
        img( src='images/content/ragnar-group-small.jpg' )
    img( src='images/content/ragnar-course-small.jpg' )

//- June: La Biennale di Venezia
append foreground
  +fg-item('June', 'La Biennale di Venezia')
    p In June, Artsy celebrated the 55th Venice Biennale with an in-depth look at 77 national pavilions and exhibitions, from Angola to Uruguay. We created a place to explore and learn about one of the art world's most important events.
    a.faux-underline( href="http://artsy.net/feature/the-55th-venice-biennale", target='_blank' ) Revisit the 55th Venice Biennale
append background
  +bg-item
    figure
      img( src='images/content/venice-1-small.jpg' )
      figcaption
        .main Richard Mosse, Irish Pavilion
        .source &copy; Courtesy of the artist and Jack Shainman Gallery. Photo © Tom Powel Imaging inc
    figure
      img( src='images/content/venice-2-small.jpg' )
      figcaption
        .main Walter De Maria, Apollo’s Ecstasy, 1990
        .source &copy; Photograph by Alex John Beck for Artsy
    figure
      img( src='images/content/venice-3-small.jpg' )
      figcaption
        .main Phyllida Barlow, Untitled: hanginglumpcoalblack, 2012
        .source &copy; Photograph by Alex John Beck for Artsy

//- July: Open Source
append foreground
  +fg-item('July', 'An open-source milestone')
    p In July, we released our 30th open-source project. We love open-source at Artsy–it lets us build better software and contribute back to the community. We even open-sourced
      | the code used to build the 2013 annual report that you are currently reading.
    a.faux-underline( href="http://artsy.github.io/open-source", target='_blank' ) See all of Artsy’s open source projects
append background
  +bg-item
    #background-code
      .viewport-height
      pre
        include code.txt
      .viewport-height
      img#background-code-mask.viewport-height( src='images/logo-mask.svg')

//- August: Art & Science
append foreground
  +fg-item('August', 'Art Meets Science')
    p In August, an&nbsp;
      a.faux-underline( href='https://artsy.net/artist/damon-zucconi', target="_blank" ) artist on Artsy
      | &nbsp;joined our engineering team—Artsy’s seventh engineer-artist crossover. We are now 66 engineers, art historians, designers, curators, writers, mathematicians… and artists. 40 of us are women, 26 are men, 9 of us are parents and 8 are trained dancers.
    a.faux-underline( href="https://artsy.net/about/jobs", target='_blank' ) Join the Artsy team
append background
  +bg-item
    figure
      img( src='images/content/damon-small.jpg' )
      figcaption.artist-info
        p Damon Zucconi
        p Tetradic Edit, 2013
        p JTT Gallery
    .half-viewport-height

//- September: Art in your pocket
append foreground
  +fg-item('September', 'Art in Your Pocket')
    p In September, we shrunk Artsy. 120,000 people downloaded our iPhone app, named a "Best New App" by Apple. Art lovers have viewed and saved more than 4 million artworks since the release.
    a.faux-underline( href="http://iphone.artsy.net/", target='_blank' ) Download the Artsy iPhone app
append background
  +bg-item
    #iphone-screens
      img( src='images/content/iphone-screens-1-small.jpg' )
      img( src='images/content/iphone-screens-2-small.jpg' )
      img( src='images/content/iphone-screens-3-small.jpg' )

//- October: Art in Schools
append foreground
  +fg-item('October', 'Art in Schools')
    p In October, we were honored to become an official part of public education in New York City through&nbsp;
      a.faux-underline( href="http://www.nyc.gov/html/digital/html/news/digital-ready.shtml" ) Digital Ready
      | &nbsp;– a new NYC Department of Education digital literacy program for high school students.
    p More than 25,000 open-access images on Artsy are freely downloadable for educational use.
    a.faux-underline( href="http://artsy.net/feature/artsy-education", target='_blank' ) Learn more about Artsy Education
append background
  +bg-item
    figure
      img( src='images/content/doe-kids-small.jpg' )
      figcaption
        .main Three students at Brooklyn International High School, one of ten schools participating in New York City’s Digital Ready program.
        a.source( href='http://www.flickr.com/photos/leprechaunspade/' ) Photo: Terence McCormack
    figure
      img( src='images/content/doe-meeting-small.jpg' )
      figcaption
        .main Mayor Bloomberg and Chancellor Walcott announce the expansion of New York City’s Digital Roadmap for New York schools.
        .source Photo: nyc.gov

//- November: Better tools for Benefit Auctions
append foreground
  +fg-item('November', 'New Tools for Benefit Auctions')
    p In November, we partnered with the nonprofit Independent Curators International (ICI) to support their annual benefit auction. Anyone from around the world could take part from a computer, tablet or mobile phone. It was exciting to see live bids coming in from places like Oslo and Santa Monica, projected on big screens at the gala event.
    p All the lots sold, and we helped raise 50% more than ICI’s target revenue goal to support their educational programming.
    a.faux-underline( href="https://artsy.net/about/partnering-with-artsy", target='_blank' ) How we work with our partners
append background
  +bg-item
    figure
      img( src='images/content/auction-phone-small.jpg' )
      figcaption
        .source Photos: Elliot Black Photography
    img( src='images/content/auction-ici-small.jpg' )
    img( src='images/content/auction-ici-2-small.jpg' )

//- December: Gallery meets Collector
append foreground
  +fg-item('December', 'Gallery, meet Collector')
    p When a collector is interested in an artwork listed by a gallery on Artsy, we put them in touch. In the first week of December, we made more direct introductions between collectors and galleries than we did in all of 2012.
    a.faux-underline( href="http://artsy.net/filter/artworks/sort=-date_added&page=1", target='_blank' ) Find your new favorite work on Artsy
append background
  +bg-item
    #graph-container
      #graph-wrapper
        h4 Monthly Collector introductions to Galleries
        include graph-svg.html
      .viewport-height
      .viewport-height
