h3#footer-header Thank you.
nav#footer-links
  a Join the Artsy Team
  a Partner with Artsy
  a Go to Artsy
#footer-social-buttons
  h4 Share This:
  button.social-button-facebook
  button.social-button-twitter