h3#footer-header Thank you.
nav#footer-links
  a( href="https://artsy.net/about/jobs", target="_blank" ) Join the Artsy Team
  a( href="https://artsy.net/about/partnering-with-artsy", target="_blank" ) Partner with Artsy
  a( href="https://artsy.net", target="_blank" ) Go to Artsy
#footer-social-buttons
  h4 Share This:
  .social-button-container
    small#social-button-facebook-count 0
    a.social-button-facebook
  .social-button-container
    small#social-button-twitter-count 0
    a.social-button-twitter