doctype html
html(lang="en")
  head
    title Artsy in 2014
    style
      include:stylus ../stylesheets/index.styl
  body
    header#main-header
      include header
    #content
      include content
    #scripts
      include scripts
      script
        include:coffeescript ../scripts/header.coffee
        include:coffeescript ../scripts/fade.coffee