doctype html
html(lang="en")
  head
    title See Artsy's 2013 Year in Review by the Numbers
    meta( name="title", "See Artsy's 2013 Year in Review by the Numbers" )
    meta( name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" )
    meta( property="og:image" content="http://2013.artsy.net/images/fb-thumb.jpg" )
    link( type='text/css', rel='stylesheet', href=('index.css') )
    link( rel='apple-touch-icon', href='images/icon-57.png' )
    link( rel='apple-touch-icon', sizes='72x72', href='images/icon-72.png' )
    link( rel='apple-touch-icon', sizes='114x114', href='images/icon-114.png' )
    link( rel='icon', type='image/png', href='images/favicon.ico' )
  body.body-loading
    #body-loading-spinner.loading-spinner
    #wrapper
      #scroller
        #header-background
          #header-background-gradient
          ul
            for x, i in new Array(4)
              li( style='background-image: url(images/header/#{i}.jpg)',
                  class=(i == 0 ? 'active' : null) )
        header#main-header.viewport-height
          include header-logo-svg.html
          #main-header-down-arrow
        main#content
          include content
        footer#footer.viewport-height( style="background-image: url('images/footer/1.jpg')" )
          include footer
    #scripts
      include scripts
      script( src='index.js' )