doctype html
html(lang="en")
  head
    title Artsy in 2014
    style
      include:stylus ../stylesheets/index.styl
  body
    #wrapper
      #scroller
        header#main-header
          include header
        #content
          include content
    #scripts
      include scripts
      script
        include ../scripts/iscroll-probe.js
        include ../scripts/jquery-ui-easings.js
        include:coffeescript ../scripts/index.coffee