doctype html
html(lang="en")
  head
    title Artsy 2013 Annual Review
    meta( name="viewport", content="width=device-width, initial-scale=0.5, maximum-scale=1.0, user-scalable=no" )
    meta( property="og:image" content="http://2013.artsy.net/images/fb-thumb.jpg" )
    style
      include:stylus ../stylesheets/index.styl
  body
    #wrapper
      #scroller
        #header-background
          #header-background-gradient
          ul
        header#main-header.viewport-height
          #main-header-logo
          #main-header-down-arrow
        main#content
          include content
        footer#footer.viewport-height
          include footer
    #scripts
      include scripts
      script
        include ../scripts/underscore.js
        include ../scripts/iscroll-probe.js
        include ../scripts/zepto.js
        include ../scripts/zepto.touch.js
        include ../scripts/imagesloaded.js
        include:coffeescript ../scripts/index.coffee