@import '../../node_modules/nib'

img-margin = 40px
caption-margin = 10px
gray-color = #999

#background
  padding 50px
  z-index -2
  clearfix()
  > ul
    float right
    width 70%

#background-content li
  img
    width 100%
    margin-bottom img-margin
  figure
    margin-bottom img-margin
    img
      margin-bottom caption-margin
    figcaption
      font-style italic

.two-column-images
  column-count 2
  column-gap 20px
  li
    margin-bottom img-margin
  img
    margin-bottom caption-margin !important
  p, em
    display block
    margin 0
    color gray-color

#background-code
  font-family "Courier New", Courier, monospace
  position relative
  overflow hidden
  line-height 1em
  font-size 13px
  pre
    padding-left 20%

#background-code-mask
  position absolute
  top 0
  right 0
  width 100%

.artist-info
  color gray-color