@import '../../node_modules/nib'

#background
  padding 50px
  z-index -2
  clearfix()
  > ul
    float right
    width 70%
    li
      margin-bottom 200px
      img
        width 100%
        margin-bottom 40px