@import '../../node_modules/nib'
@import 'lib'

img-margin = 40px
caption-margin = 10px
gray-color = #999

#background
  padding 50px
  z-index -2
  clearfix()
  > ul
    float right
    width background-width
  img
    background black

#background-content li
  img
    width 100%
    margin-bottom img-margin
  figure
    margin 0 0 img-margin 0
    img
      margin-bottom caption-margin
    figcaption
      font-style italic
      position relative
    .source
      color #666
      font-size 15px
      font-style italic
      position absolute
      top 0
      right 0

.two-column-images
  width 50%
  display inline-block
  vertical-align top
  &.two-column-left
    padding-right 10px
    float left
  &.two-column-right
    padding-left 10px
  li
    margin-bottom img-margin
    display inline-block
  img
    margin-bottom caption-margin !important
  p, em
    display block
    margin 0
    color gray-color
    line-height 1.2em
    font-size default-font-size - 2
  em
    font-style italic
    span
      font-style normal

#background-code
  font-family "Courier New", Courier, monospace
  position relative
  overflow hidden
  line-height 1em
  font-size 13px
  pre
    padding-left 15%

#background-code-mask
  position absolute
  top 0
  right 0
  width 100%
  border-bottom 5px solid black
  background transparent !important

.artist-info
  color gray-color

.phone-foreground-container
  display none

#graph
  width 100%
  position absolute

#graph-container
  position relative
