#footer
  position relative
  background url('images/footer/1.jpg') center center no-repeat
  margin-top 200px
  &::after
    content '.'
    color 'transparent'
    background linear-gradient(top, transparent, black)
    position absolute
    bottom 0
    width 100%
    height 30%
  &::before
    content '.'
    color 'transparent'
    background linear-gradient(bottom, transparent, black)
    position absolute
    top 0
    width 100%
    height 20%

#footer-social-buttons
  position absolute
  bottom 50px
  text-align center
  width 100%
  z-index 2
  button
    display inline-block
  h4
    text-transform uppercase
    letter-spacing 1px
    margin-bottom 20px

#footer-header
  text-align center
  position absolute
  top 50%
  margin-top -40px
  font-size 54px
  display block
  width 100%

#footer-links
  text-align center
  display block
  width 100%
  bottom 200px
  position absolute
  font-size 26px
  line-height 1.4em
  a
    display block

.social-button-container
  position relative
  width 80px
  height @width
  vertical-align top
  display inline-block
  small
    display block
    position absolute
    top 0
    right 0
    display none
  a
    display block
    position absolute
    bottom 0
    right 0
    margin-right 20px