@import 'lib'

#foreground
  position fixed
  width 100%
  height 100%
  z-index 2

#foreground li
  display none
  padding foreground-padding
  height 100%
  width 100%
  position absolute
  &.foreground-item-active
    display block

  header, footer
    width 400px
    padding-top 20px
    border-top 2px solid
    position absolute

  header
    top foreground-padding
    h1
      font-size 28px

  footer
    bottom foreground-padding

  small
    display block
    margin-top 20px
    font-size 13px

#foreground-social-buttons
  position absolute
  right foreground-padding
  bottom foreground-padding

  button
    padding 25px
    border 2px solid white
    border-radius 50px
    background transparent
    background no-repeat center center
    background-size 50%
  #foreground-facebook-button
    margin-right 20px
    background-image url(images/facebook.svg)
  #foreground-twitter-button
    background-image url(images/twitter.svg)