@import 'lib'
@import '../../node_modules/nib'

#header-background
  position absolute
  width 100%
  #header-background-gradient
    content '.'
    color 'transparent'
    background linear-gradient(top, transparent, black)
    position absolute
    bottom 0
    width 100%
    height 40%
    opacity 0
    z-index 2
  li
    position absolute
    top 0
    left 0
    background center center no-repeat
    background-size cover
    z-index -1
    width 100%
    height 100%
    opacity 0
    transition opacity 1s ease-in-out
    transform translate3d(0,0,0)
    z-index 1
    &.active
      opacity 1

#main-header
  width 100%
  height 100%
  position relative

#main-logo
  background url('images/logo.png') center center no-repeat
  background-size contain
  top 50%
  height 16%
  margin-left 20px
  width calc(100% - 40px)
  position absolute
  margin-top -(@height / 2)
  transition opacity 0.3s ease-in
  z-index 4

#main-header-down-arrow
  background center center no-repeat url('images/down-arrow.svg')
  width 100%
  height 80px
  margin auto
  position absolute
  bottom 0
  cursor pointer
  border 0
  z-index 2

#intro-statement
  font-size 54px
  line-height 1.2em
  padding 0 foreground-padding
  position relative
  p
    margin-bottom 1em
  #intro-statement-inner
    padding-top 60px
    position relative
    hr
      width foreground-width
      position absolute
      left 0
      top 0
      border 0
      border-top 3px solid white

backgrounds(size)
  #header-background ul
    for i in (0..8)
      li:nth-child({i})
        background-image url('images/header/Cover_0' + i + '_' + size + '.jpg')

backgrounds(1920)
@media (max-width: 1440px)
  backgrounds(1440)
@media (max-width: 640px)
  backgrounds(640)