@import '../../node_modules/nib'
@import 'foreground'
@import 'background'
@import 'header'

global-reset()

body
  background black
  color white
  garamond()
  line-height 1.4em
  font-size 16px

*
  box-sizing border-box