instead-of-viewport-height-margin = 40px

@keyframes code-repeat
  0%
    margin-top 0%
    animation-timing-function linear
  50%
    margin-top -50%
    animation-timing-function linear
  100%
    margin-top -100%
    animation-timing-function linear

// Vertical iPad
@media (max-width: 800px)
  #foreground-content li h1
    br:nth-of-type(2)
      display  none
  .faux-underline
    display inline !important
    &:before
      display none !important
    text-decoration underline !important

// Phone
@media (max-width: 640px)
  #intro-statement, .phone-foreground-container header h1
    font-size 36px
    line-height 1.2em
  #intro-statement #intro-statement-inner hr
    width 100%
  #foreground
    display none
  .phone-foreground-container
    display block
    margin-bottom 30px
    header
      padding-top 30px
      .foreground-header-body
        margin-top 20px
  #intro-statement, #background
    padding 20px
  #intro-statement .half-viewport-height
    display none
  #intro-statement
    margin-top 40px
  #background
    ul
      width 100%
      li
        margin-bottom instead-of-viewport-height-margin !important
  #background .half-viewport-height, #background .viewport-height:not(#background-code-mask)
    height instead-of-viewport-height-margin !important
  #background-content li figure .source
    position relative
    display block
    float none
    margin-top 1em
  #footer
    background-image url('images/bottom-image-small.jpg')
  #footer-header
    margin-top -180px
  #footer-links
    font-size 24px
    line-height 1.8em
    bottom 160px
  #footer-social-buttons
    botom 10px
    h4
      margin-bottom 0
  .social-button-container
    width 70px
    height 70px
  #footer-social-buttons
    margin-bottom 5px
  .iScrollIndicator
    display none !important
  #background-code
    height 270px !important
    #background-code-mask
      height auto !important
    pre
      animation code-repeat 5s infinite
  #graph-container
    .viewport-height
      display none !important
    #graph
      position relative !important
      height 5% !important
    #graph-line
      stroke-array none !important
      stroke-dashoffset none !important
  #footer
    margin-top 0 !important
  .two-column-images.two-column-right
    padding-left 0
  .two-column-images.two-column-left
    padding-right 0
  #footer-header
    font-size 27px
    padding 0 20px
    bottom 340px