instead-of-viewport-height-margin = 40px


// Vertical iPad
@media (max-width: 800px)
  #foreground-content li h1
    font-size 38px
    br:nth-of-type(2)
      display  none

// Phone
@media (max-width: 640px)
  #foreground
    display none
  .phone-foreground-container
    display block
    margin-bottom 30px
    header
      padding-top 30px
      h1
        font-size 36px
      .foreground-header-body
        margin-top 20px
  #background
    padding 20px
    ul
      width 100%
      li
        margin-bottom instead-of-viewport-height-margin !important
  #background .half-viewport-height, #background .viewport-height:not(#background-code-mask)
    height instead-of-viewport-height-margin !important
  #background-content li figure .source
    position relative
  #content
    margin-top 200px !important
  #footer-header
    margin-top -180px
  #footer-links
    font-size 24px
    line-height 1.8em
    bottom 160px
  #footer-social-buttons
    botom 10px
    h4
      margin-bottom 0
  .social-button-container
    width 70px
    height 70px
  #footer-social-buttons
    margin-bottom 5px
  .iScrollIndicator
    display none !important
