instead-of-viewport-height-margin = 40px

@media (max-width: 640px)
  #foreground
    display none
  .phone-foreground-container
    display block
    margin-bottom 30px
  #background 
    padding 30px
    ul
      width 100%
      li
        margin-bottom instead-of-viewport-height-margin !important
  .half-viewport-height, .viewport-height
    height instead-of-viewport-height-margin !important