#foreground-social-buttons
  position absolute
  right foreground-padding
  bottom foreground-padding

.social-button-facebook
.social-button-twitter
  padding 25px
  border 2px solid white
  border-radius 50px
  background transparent
  background no-repeat center center
  background-size 40%

.social-button-facebook
  margin-right 20px
  background-image url(images/facebook.svg)

.social-button-twitter
  background-image url(images/twitter.svg)